body.obsidian-app.theme-dark,
body.obsidian-app.is-mobile.theme-dark {
  --color-base-00: var(--color-slate-00);
  --color-base-05: var(--color-slate-15);
  --color-base-10: var(--color-slate-05);
  --color-base-20: var(--color-slate-00);
  --color-base-25: var(--color-slate-00);
  --color-base-30: var(--color-slate-20);
  --color-base-35: var(--color-slate-25);
  --color-base-40: var(--color-slate-30);
  --color-base-50: var(--color-neutral-30);
  --color-base-60: var(--color-neutral-35);
  --color-base-70: var(--color-neutral-50);
  --color-base-100: var(--color-neutral-60);

  --color-gray: var(--dark-mode-neutral);
  --color-red: var(--dark-mode-red);
  --color-green: var(--dark-mode-green);
  --color-yellow: var(--dark-mode-yellow);
  --color-blue: var(--dark-mode-blue);
  --color-purple: var(--dark-mode-purple);
  --color-cyan: var(--dark-mode-cyan);
  --color-orange: var(--dark-mode-orange);
  --color-pink: var(--dark-mode-pink);

  --color-gray-rgb: var(--dark-mode-neutral-rgb);
  --color-red-rgb: var(--dark-mode-red-rgb);
  --color-green-rgb: var(--dark-mode-green-rgb);
  --color-yellow-rgb: var(--dark-mode-yellow-rgb);
  --color-blue-rgb: var(--dark-mode-blue-rgb);
  --color-purple-rgb: var(--dark-mode-purple-rgb);
  --color-cyan-rgb: var(--dark-mode-cyan-rgb);
  --color-orange-rgb: var(--dark-mode-orange-rgb);
  --color-pink-rgb: var(--dark-mode-pink-rgb);

  --h1-color: var(--color-neutral-65);
  --h2-color: var(--color-blue-65);
  --h3-color: var(--text-normal);
  --h4-color: var(--h3-color);
  --h5-color: var(--h4-color);
  --h6-color: var(--h5-color);

  --indentation-guide-color: var(--color-slate-15);
  --indentation-guide-color-active: var(--color-slate-20);

  --caret-color: var(--color-blue-55);
  --text-selection: var(--color-blue-25);
  --bold-color: var(--color-neutral-65);
  --table-row-background-hover: var(--color-slate-05);
  --code-comment: var(--color-neutral-50);

  --shadow-s: 0px 4px 15px rgb(0 0 0 / 10%);
}

body.obsidian-app.theme-dark,
body.obsidian-app.is-mobile.theme-dark {
  --x-mix: var(--color-white);
  --x-mix-hover: var(--color-white);

  --x-decoration: rgba(var(--dark-mode-slate-rgb), var(--x-opacity));
  --x-text-selection-color: var(--color-neutral-65);

  --x-code-inline-background: var(--x-decoration);
  --x-code-inline-background-hover: rgba(var(--dark-mode-slate-rgb), var(--x-opacity-hover));

  --x-embed-file-background: var(--x-decoration);
  --x-embed-file-background-hover: rgba(var(--dark-mode-slate-rgb), var(--x-opacity-hover));
}

body.obsidian-app.theme-dark.is-focused {
  .titlebar,
  .workspace-ribbon.mod-left {
    --titlebar-background: var(--color-base-00);
  }

  .sidebar-toggle-button,
  .workspace-tabs.mod-top {
    --tab-container-background: var(--color-base-00);
  }
}
