body.obsidian-app {
  --blockquote-color: var(--text-muted);
  --blockquote-font-style: italic;
  --blockquote-background-color: var(--x-embed-background);
  --blockquote-border-thickness: var(--x-border-width-lg);

  &.theme-light {
    --blockquote-border-color: rgb(0 0 0 / 10%);
  }

  &.theme-dark {
    --blockquote-border-color: rgb(255 255 255 / 10%);
  }
}

body.obsidian-app {
  --x-blockquote-padding-y: var(--x-spacer-md);
  --x-blockquote-padding-x: var(--x-spacer-1xl);
  --x-blockquote-radius: var(--x-radius-lg);
}

.markdown-rendered blockquote {
  padding: var(--x-blockquote-padding-y) var(--x-blockquote-padding-x);
  border-radius: var(--x-blockquote-radius);
}
