@use "../abstract/variables" as *;

body {
  --x-callout-padding-y: #{$spacer-1xl};
  --x-callout-padding-x: #{$spacer-1xl};
  --x-callout-title-transform: uppercase;
  --x-callout-background-opacity: 0.1;
}

body .callout {
  --x-callout-accent: color-mix(
    in oklab,
    rgb(var(--callout-color)) var(--x-accent-mix-intensity),
    var(--x-accent-mix-color)
  );
  --x-callout-accent-hover: color-mix(
    in oklab,
    rgb(var(--callout-color)) var(--x-accent-mix-modifier-intensity),
    var(--x-accent-mix-modifier-color)
  );
  --x-callout-code-background: rgba(var(--callout-color), var(--x-accent-opacity));
  --x-callout-code-background-hover: rgba(var(--callout-color), var(--x-accent-opacity-modifier));
  --x-callout-code-border-color: var(--x-callout-code-background);
}

.callout {
  --callout-padding: var(--x-callout-padding-y) var(--x-callout-padding-x);
  --callout-title-size: var(--font-small);
  --callout-border-opacity: 0.1;
  --callout-radius: #{$radius-lg};

  --p-spacing: calc(var(--x-callout-padding-y) * 0.75);

  --h1-color: var(--text-normal);
  --h2-color: var(--text-normal);
  --h3-color: var(--text-normal);
  --h4-color: var(--text-normal);
  --h5-color: var(--text-normal);
  --h6-color: var(--text-normal);

  --link-color: var(--x-callout-accent);
  --link-color-hover: var(--x-callout-accent-hover);
  --link-external-color: var(--link-color);
  --link-external-color-hover: var(--link-color-hover);
  --link-unresolved-color: var(--link-color);
  --link-unresolved-color-hover: var(--link-color-hover);

  --checkbox-color: rgb(var(--callout-color));
  --checkbox-color-hover: var(--checkbox-color);
  --checkbox-border-color: var(--checkbox-color);
  --checkbox-border-color-hover: var(--checkbox-color);

  --text-selection: rgba(var(--callout-color), 0.3);
  --list-marker-color: rgb(var(--callout-color));
  --indentation-guide-color: rgba(var(--callout-color), 0.2);
}

.callout {
  &:is([data-callout="attention"]) {
    --callout-color: var(--color-red-rgb);
  }

  &:is([data-callout="missing"]) {
    --callout-color: var(--color-orange-rgb);
  }
}

/**
 * Default styles
 */
.callout {
  margin-block: var(--x-p-spacing-md);
  background-color: rgba(var(--callout-color), var(--x-callout-background-opacity));
  border: unset;

  h2::before {
    content: unset !important;
  }

  :not(pre) > code {
    --code-normal: var(--x-callout-accent) !important;
    --code-background: var(--x-callout-code-background) !important;

    &:hover {
      --code-background: var(--x-callout-code-background-hover) !important;
    }
  }

  pre {
    --code-border-color: var(--x-callout-code-border-color);
  }
}

.callout + .callout {
  margin-top: calc(var(--p-spacing) * 0.5);
}

.callout-title {
  gap: #{$spacer-sm};
  text-transform: var(--x-callout-title-transform);
}

.callout-content {
  overflow: visible;

  > :last-child {
    margin-bottom: 0 !important;
  }

  > :is(ul, ol) {
    margin-left: -0.3em;
  }
}

/**
 * Colors
 */
@each $color in $colors {
  .callout[data-callout*="x-#{'' + $color}"] {
    --callout-color: var(--color-#{$color}-rgb);

    .callout-icon {
      display: none;
    }
  }
}
