@use "../abstract/variables" as *;

.nav-file-title-content {
  flex-grow: 1;
}

.nav-file-tag {
  color: var(--text-muted);
  outline: #{$border-sm} solid var(--background-modifier-border);
  background-color: transparent;
  border-radius: #{$radius-sm};
}

.nav-file-title:hover .nav-file-tag {
  outline-color: var(--background-modifier-border-hover);
}

.nav-folder.is-collapsed > .tree-item-self,
.nav-file-title {
  .tree-item-icon {
    opacity: 0.5;
  }
}

:is(.nav-file-title:hover, .nav-file-title.is-active) {
  .tree-item-icon {
    opacity: 1;
  }
}

.view-header-title-container:has(.view-header-breadcrumb) {
  .view-header-title,
  .view-header-breadcrumb-separator:last-child {
    display: none;
  }

  @media screen and (width >= 750px) {
    .view-header-breadcrumb-separator {
      padding-inline: var(--size-2-2);
    }
  }
}

// Fixes inconsistent background colors when using a non-standard system color profile. Another workaround is to open
// Obsidian with the sRGB flag, however, this may cause other color issues, particularly with transitions. A drawback
// of this workaround is that all notes have a vertical scrollbar, regardless of the content height.
body:not(.is-mobile) .markdown-reading-view > .markdown-preview-view.markdown-rendered > .markdown-preview-sizer {
  min-height: 100vh !important;
}
