.nav-file-title-content {
  flex-grow: 1;
}

.nav-file-tag {
  color: var(--text-muted);
  outline: var(--x-border-width-sm) solid var(--background-modifier-border);
  background-color: transparent;
  border-radius: var(--x-radius-sm);
}

.nav-file-title:hover .nav-file-tag {
  outline-color: var(--background-modifier-border-hover);
}

.nav-folder.is-collapsed > .tree-item-self,
.nav-file-title {
  .tree-item-icon {
    opacity: 0.5;
  }
}

:is(.nav-file-title:hover, .nav-file-title.is-active) {
  .tree-item-icon {
    opacity: 1;
  }
}

.view-header-title-container:has(.view-header-breadcrumb) {
  .view-header-title,
  .view-header-breadcrumb-separator:last-child {
    display: none;
  }

  @media screen and (width >= 750px) {
    .view-header-breadcrumb-separator {
      padding-inline: var(--size-2-2);
    }
  }
}
