.document-search-container {
  margin-inline: var(--file-margins);
}

.document-search,
.document-replace {
  padding-inline: 0;
}

@keyframes flashing {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.5;
  }
}

.is-flashing {
  background-color: initial !important;
  border-radius: initial;
  mix-blend-mode: initial;
  transition: initial;
  animation: flashing 1s both 1;
}
