body.obsidian-app.theme-light,
body.obsidian-app.is-mobile.theme-light {
  .tooltip {
    --background-modifier-message: #000;
  }
}

body.obsidian-app.theme-dark,
body.obsidian-app.is-mobile.theme-dark {
  .tooltip {
    --background-modifier-message: #fff;
  }

  .tooltip {
    color: var(--color-base-00);
  }
}
